<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/mystyle.css">
    <title>Index Page</title>
</head>
<body>
    <img src="pics/bacHo.jpg" width="400px" height="300px"/>
    <h2 class="redText">Hello Index</h2>
    <a href="/insert">New Product</a>
    <a href="/view">All products</a>
</body>
</html>